<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">Becca Lyria</h1>
    <p>
      Becca Lyria is a Discord bot that offers moderation and community
      management support.
    </p>
    <p>
      She's full of great features that you can read all about in her
      documentation.
    </p>
    <p>
      Or, you can learn more about Becca the <em>character</em> by browsing this
      site.
    </p>
  </div>
  <a class="nes-btn" href="https://docs.beccalyria.com">View Documentation</a>
  <a routerLink="/becca" class="nes-btn">Learn About Becca</a>
</div>
